.bg {
    background-color: #F7F6F5;
    position: fixed;
    color: #716F6B;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}

.spacer {
    width: 100vw;
    padding-top:6em;
}

.cof {
    width: 46vw;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 1.65em;
    padding-bottom: 1.5em;
}

.coffee_name {
    font-size: 1.4rem;
    font-weight: 400;
}

.coffee_desc {
    font-size: 0.9rem;
    font-weight: 300;
}


.GHOST {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/coffee.png");
    background-size: 100%;
    z-index: 100;
    touch-action: none;
    opacity: 0%;

}

.GHOST:hover {
    opacity: 60%;

}

.circle {
    position: fixed;
    display: inline-block;
    bottom: 7em;
    right: -15em;
    height: 32.5em;
    width: 32.5em;
    background-color: #F7F6F5;
    border-radius: 50%;
    box-shadow: 10px 10px 20px #c5d6eb,
    -10px -10px 20px #ffffff;
}

.circ_im {
    position: relative;
    width: 26em;
    top:3em;
    left:3em;
    rotate:120deg;
    transform: rotateX(180deg);
}