.bg {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bg_cof {
    animation: bg_tea-to-cof 1s ease-out;
    background-color: #ebebeb;
    color: #716F6B;
}

@keyframes bg_tea-to-cof {
    0%{background-color: #E01B24;
        color: #FFFFFF;}
    100%{background-color: #ebebeb;
        color: #716F6B;}
}

.bg_tea {
    animation: bg_cof-to-tea 1s ease-out;
    background-color: #E01B24;
    color: #FFFFFF;
}

@keyframes bg_cof-to-tea {
    0%{background-color: #ebebeb;
        color: #716F6B;}
    100%{background-color: #E01B24;
        color: #FFFFFF;}
}
.spacer {
    width: 100vw;
    padding-top:2em;
}

.cof {
    position:relative;
    width: 40vw;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 0.3em;
    padding:1em;
    right:0vw;
}

.cof_cof {
    animation: its_cof-to-tea .8s ease-out;
}

@keyframes its_cof-to-tea {
    0%{right:-50vw;}
    100%{right:0vw;}
}

.cof_tea {
    animation: its_tea-to-cof .8s ease-out;
    right:-50vw;
}

@keyframes its_tea-to-cof {
    0%{right:0vw;}
    100%{right:-50vw;}
}

.more {
    position:relative;
    float: right;
    font-size: 1.5em;
    margin: -0.35em;
    margin-right: -2.5em;
    margin-top: 0em;
    border-radius: .8em;

    height: 2em;
    width: 2em;
    text-align: center;

}

.more_cof {
    background-color: #ebebeb;
    box-shadow: 10px 10px 20px #c5d6eb,
    -10px -10px 20px #ffffff;
    color: #777;
}

.more_tea {
    background-color: #ebebeb;
    box-shadow: 10px 10px 20px #c5d6eb,
    -10px -10px 20px #ffffff;
    color: #777;
}

.coffee_name {
    font-size: 1.4rem;
    font-weight: 400;
}

.coffee_desc {
    font-size: 0.9rem;
    font-weight: 300;
}


.GHOST {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/coffee.png");
    background-size: 100%;
    z-index: 100;
    touch-action: none;
    opacity: 0%;

}

.GHOST:hover {
    opacity: 60%;

}

.circle {
    position: absolute;
    bottom: 7em;
    height: 32.5em;
    width: 32.5em;
    border-radius: 50%;
    box-shadow: 10px 10px 20px #c5d6eb,
    -10px -10px 20px #fff;
}

.circle_cof {
    animation: move_tea-to-cof .8s ease-out;
    box-shadow: 10px 10px 20px #c5d6eb,
    -10px -10px 20px #fff;
    right: -15em;
}

@keyframes move_tea-to-cof {
    0%{right: 20em; box-shadow: 10px 10px 20px #87151A,
        -10px -10px 20px #FF424B;}
    100%{right: -15em; box-shadow: 10px 10px 20px #c5d6eb,
        -10px -10px 20px #fff;}
}

.circle_tea {
    right: 20em;
    animation: move_cof-to-tea .8s ease-out;
    box-shadow: 10px 10px 20px #87151A,
    -10px -10px 20px #FF424B;
}

.bbb {
    margin-top:20px;
}

@keyframes move_cof-to-tea {
    0%{right: -15em;    box-shadow: 10px 10px 20px #c5d6eb,
        -10px -10px 20px #fff;}
    100%{right: 20em;    box-shadow: 10px 10px 20px #87151A,
        -10px -10px 20px #FF424B;}
}

.circ_im {
    position: relative;
    width: 26em;
    top:3em;
    left:3em;
    rotate:120deg;
    transform: rotateX(180deg);
    /*border: 0.1em solid #31B7D6;*/
    box-shadow: inset 0px 0px 40px #31b7d6;
    border-radius: 26em;
}