.bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #ECECEC;
    overflow-x: scroll;
    scrollbar-width: none;
}

.hl {
    background-color: #EBEBEB;
    width: 60vw;
    height: 70vh;
    content:" ";
    border-radius: 3em;
    box-shadow: 40px 40px 80px #d6d6d6,
                      -40px -40px 80px #ffffff;
    animation: fade-in 2s linear;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 1.5em;
    transition: transform 0.1s ease-in-out;
    transform: scale(0.85); /* Default to 75% size */
}

@keyframes fade-in {
    0% {box-shadow: none};
    100% {box-shadow: 40px 40px 80px #d6d6d6,
        -40px -40px 80px #ffffff;};
}

.im {
    position: relative;
    height: 25em;
    top: -15em;
    animation: im-fade-in 1.8s ease-in-out;
}

@keyframes im-fade-in {
    0% {opacity:0%;};
    100% {opacity:100%;};
}

.item_info {
    position: relative;
    top: -7em;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    color: #716F6B;
}

.hl1 {
    margin-left: 8em;
}
  
.grow {
    transform: scale(1); /* Grow to full size */
}

.hl3 {
    margin-right: 6em;
}