.gradient_bg {
    background: linear-gradient(#3584E4 0%,#F6F5F4 50%, #F6F5F4 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_flex {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:13em;
}

.btn_flex {
    display:flex;
    flex-wrap: wrap;
    margin-top: 23em; /*TODO: figure this out*/
}

.btns_flex {
    display:flex;
    justify-content: center;
    column-gap: 6.25vw;
    width: 80vw;
    flex-wrap: wrap;
    margin-top: 3em;
}

.tea_branch {
    position: absolute;
    left: -50%;
    top: -17%;
    scale: 30%;
}

.cof_branch {
    position: absolute;
    right: -65%;
    top:   10%;
    scale: 36%;
}

.GHOST {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/main_page_images/Main_page.png");
    background-size: 100%;
    z-index: 100;
    touch-action: none;
    opacity: 0%;

}


.GHOST:hover {
    opacity: 40%;

}




.motto {
    font-size: 1rem;
    font-weight: 200;
}

.main_title {
    font-size: 3.2rem;
    font-weight: 400;
}

.sub_title {
    font-size: 1.6rem;
    font-weight: 300;
}