.bg {
    background-color: #EBEBEB;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.spacer {
    display: flex;
    flex-grow: 1;
}

.ccard {
    margin-top:2em;
    height: 18em;
    width: 28.54em;
    background-color: #EBEBEB;
    border-radius: 1.5em;
    box-shadow: 10px 10px 20px #c5d6eb,
               -10px -10px 20px #ffffff;
    animation: fade_ 1s forwards;
    backdrop-filter: blur(2px);
}

@keyframes fade_ {
    0% { box-shadow: none; }
    100% { box-shadow: 10px 10px 20px #d6d6d6,
                      -10px -10px 20px #ffffff;}
}

.chip {
    margin-top: 6em;
    margin-left:3.2em;
    height: 2.8em;
    width: 3.7em;
    border-radius: .5em;
    background-color: #EBEBEB;
    animation: fade_in 1s forwards;
    filter: blur(2px);
}

@keyframes fade_in {
    0% { box-shadow: none; }
    100% { box-shadow: inset 10px 10px 20px #d6d6d6,
                       inset -10px -10px 20px #ffffff; }
}

.ccard_num {
    color:#fff;
    margin-top: 2.1em;
    margin-left: 1.2em;
    font-size: 1.55em;
    animation: glow 1.6s forwards;
}

@keyframes glow {
    0% { color: #EBEBEB;}
    50% { color: #ebebeb;}
    100% { color: #fff;}
}

.mc_logo{
    margin-left: 22.8em;
    height: 2.8em;
    width: 3.7em;
    background-image: url("../../../public/Mastercard-logo.svg");
    background-repeat: no-repeat;
    animation: fade_in_ 1s forwards;
}

@keyframes fade_in_ {
    0% { opacity:0%;background-size: 92%;}
    100% { opacity:100%;background-size: 95%;}
}

.btns_flex {
    display:flex;
    justify-content: center;
    column-gap: 2em;
    flex-wrap: wrap;
    padding-top: 3em;
    padding-bottom:8em;
}

.order_details {
    font-size: 2rem;
    font-weight: 600;
    color: #909090;
    text-decoration: underline;
    padding-top: 3em;
    display: flex;
}

.order_conf_text {
    font-size: 1.6rem;
    font-weight: 600;
    color: #909090;
}


.GHOST {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/payment_card_hor.png");
    background-size: 100%;
    z-index: 100;
    touch-action: none;
    opacity: 40%;    
}
    
.GHOST:hover {
    opacity: 40%;
    touch-action: none;   
}