.bg {
    background-color: #EBEBEB;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.spacer {
    display: flex;
    flex-grow: 1;
}

.credit_card {
    margin-top:2em;
    height: 18em;
    width: 28.54em;
    background-color: #EBEBEB;
    border-radius: 1.5em;
    box-shadow: 10px 10px 20px #c5d6eb,
               -10px -10px 20px #ffffff;
    backdrop-filter: blur(2px);
}

.credit_card_ani {
    animation: credit_card_fade_in 1s forwards;
}

.credit_card_ani_prevqr {
    animation: credit_card_fade_in_prevqr 2s forwards;
}

@keyframes credit_card_fade_in {
    0% { box-shadow: none; }
    100% { box-shadow: 10px 10px 20px #d6d6d6,
                      -10px -10px 20px #ffffff;}
}

@keyframes credit_card_fade_in_prevqr {
    0% { width: 18em; }
    25% {box-shadow: none;width: 18em;}
    26% {width:28.54em;}
    100% { box-shadow: 10px 10px 20px #d6d6d6,
                      -10px -10px 20px #ffffff; width: 28.54em;}
}

.chip {
    margin-top: 6em;
    margin-left:3.2em;
    height: 2.8em;
    width: 3.7em;
    border-radius: .5em;
    background-color: #EBEBEB;
    filter: blur(2px);
}

.chip_ani {
    animation: chip_fade_in 1s forwards;
}

.chip_ani_prevqr {
    animation: chip_fade_in_prevqr 2s forwards;
}

@keyframes chip_fade_in {
    0% { box-shadow: none; }
    100% { box-shadow: inset 10px 10px 20px #d6d6d6,
                       inset -10px -10px 20px #ffffff; }
}

@keyframes chip_fade_in_prevqr {
    0% { box-shadow: none; }
    50% { box-shadow: none; }
    100% { box-shadow: inset 10px 10px 20px #d6d6d6,
                       inset -10px -10px 20px #ffffff; }
}

.credit_card_num {
    color:#fff;
    margin-top: 2.1em;
    margin-left: 1.2em;
    font-size: 1.55em;
}

.credit_card_num_ani {
    animation: credit_card_num_glow 1.6s forwards;
}

.credit_card_num_ani_prevqr {
    animation: credit_card_num_glow_prevqr 2.6s forwards;
}

@keyframes credit_card_num_glow {
    0% { color: #EBEBEB;}
    50% { color: #ebebeb;}
    100% { color: #fff;}
}

@keyframes credit_card_num_glow_prevqr { 
    0% { color: #EBEBEB;}
    50% { color: #ebebeb;}
    100% { color: #fff;}
}/*work needed*/

.mc_logo{
    margin-left: 22.8em;
    height: 2.8em;
    width: 3.7em;
    background-image: url("../../../public/Mastercard-logo.svg");
    background-repeat: no-repeat;
}

.mc_logo_ani {
    animation: mc_logo_fade_in 1s forwards;
}

.mc_logo_ani_prevqr{
    animation: mc_logo_fade_in_prevqr 2s forwards;
}

@keyframes mc_logo_fade_in {
    0% { opacity:0%;background-size: 92%;}
    100% { opacity:100%;background-size: 95%;}
}

@keyframes mc_logo_fade_in_prevqr {
    0% { opacity:0%;background-size: 92%;}
    50% { opacity:0%;background-size: 92%;}
    100% { opacity:100%;background-size: 95%;}
}

.btc_bg {
    margin-top:2em;
    height: 18em;
    width: 18em;
    background-color: #EBEBEB;
    border-radius: 1.5em;
    box-shadow: 10px 10px 20px #c5d6eb,
               -10px -10px 20px #ffffff;
    backdrop-filter: blur(2px);
}

.btc_bg_ani {
    animation: btc_fade_in .8s forwards;
}

.btc_bg_ani_prevcr {
    animation: btc_fade_in_prevcr 2s forwards;
}

@keyframes btc_fade_in {
    0% { box-shadow: none; }
    100% { box-shadow: 10px 10px 20px #d6d6d6,
                      -10px -10px 20px #ffffff;}
}

@keyframes btc_fade_in_prevcr {
    0% { width: 28.54em; }
    25% {box-shadow: none;width: 28.54em;}
    26% {width:18em;}
    100% { box-shadow: 10px 10px 20px #d6d6d6,
                      -10px -10px 20px #ffffff; width: 18em;}
}

.btc_qr {
    margin:0.5em;
    height: 18em;
    width: 18em;
    mix-blend-mode: darken;
    background-image: url("../../../public/btc.png");
    background-repeat: no-repeat;
}

.btc_qr_ani {
    animation: btc_qr_fade_in .5s forwards;    
}

.btc_qr_ani_prevcr {
    animation: btc_qr_fade_in_prevcr 2s forwards;
}

@keyframes btc_qr_fade_in {
    0% { opacity:0%;background-size: 94%;}
    100% { opacity:100%;background-size: 95%;}
}

@keyframes btc_qr_fade_in_prevcr {
    0% { opacity:0%;background-size: 94%;}
    50% { opacity:0%;background-size: 94%;}
    100% { opacity:100%;background-size: 95%;}
}

.btns_flex {
    display:flex;
    justify-content: center;
    column-gap: 2em;
    flex-wrap: wrap;
    padding-top: 3em;
    padding-bottom:8em;
}

.order_details {
    font-size: 2rem;
    font-weight: 600;
    color: #909090;
    text-decoration: underline;
    padding-top: 3em;
    display: flex;
}

.order_conf_text {
    font-size: 1.6rem;
    font-weight: 600;
    color: #909090;
}


.GHOST {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/payment_card_hor.png");
    background-size: 100%;
    z-index: 100;
    touch-action: none;
    opacity: 40%;    
}
    
.GHOST:hover {
    opacity: 40%;
    touch-action: none;   
}

.cash_opt {
    font-size: 1.5rem;
    animation: cashp .4s ease-in-out;
}

@keyframes cashp {
    0% {opacity:0%;}
    100% {opacity:100%;}
}