.firstc {
    width: 100vw;
    text-align: center;
    font-size: 1.15rem;
    padding-top: 0.5em;
    position: fixed;
    transition: color 1s ease-in-out;
}

.c {
    color: #716F6B;
}

.t {
    color: #ffffff;
}